[main]
roof_cache_dir = /server/var/data/OpenSolarMap/roof_cache/
cnn_cache_dir = /server/var/data/OpenSolarMap/cnn_cache/
models = /server/var/data/OpenSolarMap/models.pickle

database_host = localhost
database_port = 1234
database_name = solar
database_username = solar
database_password = ***

[training]

buildings_path = /server/var/data/OpenSolarMap/training/buildings_labelled.csv
contribs_path = /server/var/data/OpenSolarMap/training/contribs.csv
split_sets = /server/var/data/OpenSolarMap/training/split_sets.pickle

[vrt]

url = http://a.tiles.mapbox.com/v4/openstreetmap.map-inh7ifmo/${z}/${x}/${y}.png?access_token=***
user_agent = GDAL
cache_dir = /server/var/data/gdalwmscache/
