[main]
roof_cache_dir = /server/var/data/OpenSolarMap/roof_cache/
cnn_cache_dir = /server/var/data/OpenSolarMap/cnn_cache/
cnn_weights = /server/var/data/OpenSolarMap/vgg16_weights.h5
models = /server/var/data/OpenSolarMap/models.pickle

[training]

buildings_path = /server/var/data/OpenSolarMap/training/buildings_labelled.csv
contribs_path = /server/var/data/OpenSolarMap/training/contribs.csv
split_sets = /server/var/data/OpenSolarMap/training/split_sets.pickle

[mapbox]

token = ***
cache_dir = /server/var/data/gdalwmscache/
